@import "./variables";

.toolbar {
    height: $toolbar-height;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    z-index: 10;

    &__btn {
        height: 25px;
        width: 25px;
        border: none;
        outline: none;
    }
    
    .brush {
        background: url("../assets/brush.svg") no-repeat center center;
        margin-left: 10px;
    }

    .rect {
        background: url("../assets/rect.svg") no-repeat center center;
        margin-left: 10px;
    }

    .circle {
        background: url("../assets/circle.svg") no-repeat center center;
        margin-left: 10px;
    }

    .eraser {
        background: url("../assets/eraser.svg") no-repeat center center;
        margin-left: 10px;
    }

    .line {
        background: url("../assets/line.svg") no-repeat center center;
        margin-left: 10px;
    }

    .undo {
        background: url("../assets/undo.svg") no-repeat center center;
        margin-left: auto;
    }

    .redo {
        background: url("../assets/redo.svg") no-repeat center center;
        margin-left: 10px;
    }

    .save {
        background: url("../assets/save.svg") no-repeat center center;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.settings-bar {
    height: $toolbar-height;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    top: $toolbar-height;
}